@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../fonts/roboto-v20-latin-300italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin-300italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --first-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto', sans-serif;
  --decorate-font: 'Kaushan Script', sans-serif;
  --nav-color: #fff;
  --nav-hover-color: #fce38a;
  --main-font-color: #333333;
  --second-font-color: #999999;
  --section-color: #f38181;
}

body {
  box-sizing: border-box;
  line-height: 1.2;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
.header {
  width: 100%;
  position: absolute;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 26px;
}

.nav-menu {
  font-family: var(--first-font);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
}

.logo {
  color: var(--nav-color);
  font-size: 30px;
  font-weight: 700;
}

.nav-menu__list {
  display: flex;
}

.nav-menu__item:not(:last-child) {
  margin-right: 54px;
}

.nav-menu__link {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--nav-color);
  position: relative;
  transition: all 0.3s linear;
}

.nav-menu__link:hover,
.nav-menu__link:focus {
  color: var(--nav-hover-color);
}

.nav-menu__link::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--nav-hover-color);
  position: absolute;
  bottom: -10px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
}

.nav-menu__link:hover::after,
.nav-menu__link:focus::after {
  opacity: 1;
  visibility: visible;
}

.nav-actions {
  width: 10%;
}

.nav-actions__list {
  display: flex;
  justify-content: flex-end;
}

.nav-actions__item-left {
  margin-left: 40px;
}

.nav-actions-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav-actions__icon-basket {
  width: 18px;
  height: 15px;
  fill: var(--nav-color);
}

.nav-actions__icon-magnifier {
  width: 18px;
  height: 18px;
  fill: var(--nav-color);
}

.nav-actions-btn:hover .nav-actions-btn__icon,
.nav-actions-btn:focus .nav-actions-btn__icon {
  fill: var(--nav-hover-color);
}

/* MAIN */
/* Hero */
.section-hero {
  padding-top: 248px;
  padding-bottom: 230px;
}

.hero {
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url('../img/hero/bg-hero.jpg') no-repeat center / cover;
  text-align: center;
  font-family: var(--first-font);
  font-weight: 700;
  color: var(--nav-color);
}

@media (min-resolution: 192dpi) {
  .hero {
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
      url('../img/hero/bg-hero@2x.jpg') no-repeat center / cover;
  }
}

.hero__description {
  font-family: var(--decorate-font);
  font-size: 72px;
  text-transform: capitalize;
  margin-bottom: 60px;
}

.hero__title {
  font-size: 150px;
  line-height: 140px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 126px;
}

.hero-title__br {
  display: block;
}

.hero-btn {
  font-size: 14px;
  font-weight: 700;
  color: var(--nav-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid #fff;
  padding: 12px 30px;
  cursor: pointer;
}

/* Services */
.services {
  padding-top: 46px;
  padding-bottom: 90px;
}

.section-title-services {
  margin-bottom: 64px;
}

.section-title__heading {
  font-family: var(--first-font);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-color);
}

.section-title__heading-decor {
  display: block;
  font-family: var(--decorate-font);
  font-size: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--main-font-color);
  padding-bottom: 18px;
}

.section-title__heading-decor::first-letter {
  text-transform: uppercase;
}

.section-title__heading::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--section-color);
  margin: 40px auto 0;
}

/* Services */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.services__item {
  width: 366px;
  text-align: left;
  padding-left: 72px;
  background-repeat: no-repeat;
  background-position: 20px top;
}

.services__icon-photo {
  background-image: url('../img/icon/alarm.svg');
}

.services__icon-design {
  background-image: url('../img/icon/graph.svg');
}

.services__icon-creativ {
  background-image: url('../img/icon/monitor.svg');
}

.services__icon-seo {
  background-image: url('../img/icon/book.svg');
}

.services__icon-css-html {
  background-image: url('../img/icon/home.svg');
}

.services__icon-digital {
  background-image: url('../img/icon/aim.svg');
}

.services__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 98px;
}

.services__item-title {
  font-family: var(--first-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--main-font-color);
  text-transform: uppercase;
  margin-bottom: 16px;
}

.services__item-description {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: var(--second-font-color);
}

/* Team */
.team {
  padding-bottom: 82px;
}

.section-title-team {
  margin-bottom: 44px;
}

.team__description {
  font-family: var(--first-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: var(--second-font-color);
  padding: 0 130px;
  margin-bottom: 90px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  width: 380px;
}

.team-list__img {
  margin-bottom: 30px;
  position: relative;
  transition: transform 0.2s linear;
}

/* overlay start */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  transition: all 0.2s linear;
  visibility: hidden;
  opacity: 0;
}

.overlay__list {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay__item {
  position: relative;
}

.overlay__item:not(:last-child) {
  margin-right: 1px;
}

.overlay__link:hover {
  background-color: var(--section-color);
}

.overlay__link {
  display: block;
  width: 55px;
  height: 56px;
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.2s linear;
}

.team-list__item:hover .overlay {
  visibility: visible;
  opacity: 1;
  box-shadow: 10px 10px #95e1d3;
}

.team-list__item:hover .team__img {
  transform: translate(-10px, -10px);
}

/* svg start */
.overlay__link-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--section-color);
}

.overlay__icon-facebook {
  width: 13px;
  height: 26px;
}

.overlay__icon-twitter {
  width: 26px;
  height: 22px;
}

.overlay__icon-pinterest {
  width: 21px;
  height: 26px;
}

.overlay__icon-instagram {
  width: 26px;
  height: 26px;
}

.overlay__link:hover .overlay__link-svg {
  fill: var(--nav-color);
}
/* svg end */
/* overlay end */

.team-list__title {
  font-family: var(--first-font);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.team-list__description {
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  color: var(--second-font-color);
}

/* FOOTER */
.footer {
  border-top: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 12px;
}

.copiright {
  font-family: var(--first-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--main-font-color);
}

.copiright-link {
  color: var(--section-color);
}

.contact-form {
  display: flex;
}

.contact-form__input {
  border: 1px solid #e7e7e7;
  border-right: none;
  padding-left: 12px;
  width: 230px;
  height: 40px;
}

.contact-form__input::placeholder {
  font-family: var(--second-font);
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #cccccc;
}

.contact-form__button {
  width: 150px;
  height: 40px;
  border: none;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--nav-color);
  background-color: #95e1d3;
  cursor: pointer;
}
